<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach something:</p>
  <div class="row">
  <div class="col-12">
    <form action="/answer">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="" aria-describedby="basic-addon2" name="question">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Ask!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




